<div style="margin: 15px 15px;">
  <p-breadcrumb class="max-w-full" [model]="items"></p-breadcrumb>
</div>

<div style="margin: 15px 15px;">
  <p-tabMenu 
    [model]="rooms" 
    [activeItem]="active"> 
  </p-tabMenu> 
</div>

<div style="margin: 15px 15px;">
  <p-button (onClick)="toggleJoining()" type="submit">
    <ng-container *ngIf="bool; else elseBlock">
      Leave
    </ng-container>
    <ng-template #elseBlock>
      Join
    </ng-template>
  </p-button>
</div>  

<div style="margin: 15px 15px;">
  <p-panel>
    <ng-template pTemplate="header"> <span class="text-primary font-semibold text-xl">WebSocket Connections</span></ng-template>
    <ul style="list-style: none;">
      <li *ngFor="let msg of messages[this.active.label]" style="margin: 10px 0;">
        <p-fieldset legend="{{ msg.sender }}">
          <p class="m-0">
            {{ msg.message }}
          </p>
        </p-fieldset>
      </li>
    </ul>
  </p-panel>
</div>

<div *ngIf="typingRoom == this.active.label">
  <div *ngIf="isHereTyping[typingRoom]" style="margin: 10px 10px;">
    <p-messages severity="success">
      <ng-template pTemplate>
          <div class="ml-2">{{ typingName }} is typing...</div>
      </ng-template>
    </p-messages>
  </div>
</div>

<div *ngIf="bool">
  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <span class="p-input-icon-left" style="margin: 0 15px;">
      <input formControlName="message" pInputText id="message" name="message" type="text"  (blur)="onBlur()"  (focus)="onFocus()" />
    </span>
      
    <p-button label="Send" type="submit"></p-button>
  </form>
</div>